[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frappe-manager = "*"
gitpython = "*"
typer = {extras = ["all"], version = "*"}
toml = "*"
asyncio = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.11"
